/* "Tide" theme */
/* TODO:
- Convert the other themes to CSS Variables
- Allow user to set default CSS theme in JS config
- Export the themes as identical JS objects
- For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
 */

:root {
  /* Interface UI Colors */
  --default-color: #bfe498;
  --hover-color: #ffffff;
  --active-color: #446f51;
  --ui-border-color: #3c8060;
  --ui-border-color-dark: #3c8060;
  --ui-border-color-active: #ffffff;
  --primary-background-color: #000000;
  --box-background-color: #446f51;

  --text-primary-color: #fff;
  --text-secondary-color: #87c298;
  --input-background-color: #5e886a;
  --input-placeholder-color: #ffffff;

  --table-hover-color: #5e886a;
  --table-text-primary-color: #ffffff;
  --table-text-secondary-color: #87c298;

  --large-numbers-color: #87c298;
  --text-color-active: #000;
  --text-disabled-color: #878787;

  --state-error: #ffcccc;
  --state-error-border: #ffcccc;
  --state-error-text: #ffcccc;

  /* Common palette */
  --ui-yellow: #e29e4a;
  --ui-sky-blue: #87c298;

  /* State palette */
  --ui-state-error: #ffcccc;
  --ui-state-error-border: #993333;
  --ui-state-error-text: #661111;
  --ui-gray-lighter: #446f51;
  --ui-gray-light: #446f51;
  --ui-gray: #264034;
  --ui-gray-dark: #335a3f;
  --ui-gray-darker: #151a1f;
  --ui-gray-darkest: #14202a;

  --calendar-day-color: #a6dd6b;
  --calendar-day-border-color: #a6dd6b;
  --calendar-day-active-hover-background-color: #446f51;
  --calendar-main-color: #264034;
  --viewport-border-thickness: 1px;
}
